{% set currentUrl %}{{ page.url }}{% endset %}
<header>
<nav>
  <ul role="list">
    <li>
      <a {% if currentUrl === '/' %}aria-current="page"{% endif %} href="/">Introducción</a>
    </li>

      {%- for entry in collections.all | eleventyNavigation %}
        <li><a {% if currentUrl === entry.url %}aria-current="page"{% endif %}  href="{{ entry.url | url }}">{{ entry.title }}</a></li>
      {%- endfor %}
      </ul>
</nav>
</header>