@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

@keyframes typing {
  from {
      width: 0;
  }
}

:root {
  --bg-color: #1b1c30;
  --fg-color: #f46c95;
}

* {
  box-sizing: border-box;
  margin: 0;
}

/* Layout */

body {
  display: flex;
  min-height: 100vh;
  padding: 5vh clamp(1rem, 5vw, 3rem) 1rem;
  font-family: 'Source Code Pro', monospace;
  line-height: 1.5;
  color: var(--fg-color);
  background-color: var(--bg-color);
}

body > * {
  --layout-spacing: max(8vh, 2rem);

  width: 100%;
}

header {
  max-width: 180px;
  margin-right: var(--layout-spacing);
  border-right: 1px solid white;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  margin-left: -1rem;
  margin-right: -1rem;
}

nav ul li {
  padding: 0.5rem 1rem;
}

nav [aria-current="page"] {
  font-weight: bold;
}

header,
main,
main > * + * {
  margin-top: 2em;
}

article {
  font-size: 1rem;
  line-height: 2;
  font-weight: bold;
  width: 80ch;
}

article * + * {
  margin-top: 1em;
}

/* Typography */
h1 {
  width: 26ch;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(26, end);
}

:is(h1, h2, h3) {
  line-height: 1.2;
}

:is(h1, h2) {
  max-width: 40ch;
}

:is(h2, h3):not(:first-child) {
  margin-top: 2em;
}

a {
  color: white;
  text-underline-offset: 0.08em;
}

a:focus {
  outline: 1px solid currentColor;
  outline-offset: 0.2em;
}

/* Media */

article img {
  display: block;
  object-fit: cover;
}

@supports (aspect-ratio: 1) {
  article img {
    max-height: unset;
    aspect-ratio: 3/2;
  }
}

/* Supporting Content */

code:not([class*="language"]) {
  font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  font-size: 1.75ex;
  color: #444;
  background-color: rgba(0, 0, 0, 0.1);
  padding-right: 0.15em;
  padding-left: 0.15em;
}

blockquote {
  margin: 2rem 0;
  padding: 0.5em 1rem;
  border-left: 3px solid rgba(0, 0, 0, 0.35);
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0 0.25rem 0.25rem 0;
}


.intro {
  -webkit-background-clip: text;
  background-clip: text;
  background-image: 
      linear-gradient(
        currentColor 20%, 
        transparent
      );
  -webkit-text-fill-color: rgba(255,255,255,0.01);
}